
            /**
                Set the margins of the page to 0, so the footer and the header
                can be of the full height and width !
             **/
            page {
                margin: 0cm 0cm;
            }
            h1{
                 text-align: center;
            }
            /** Define now the real margins of every page in the PDF **/
            body {
                margin-top: 2cm;
                margin-left: 2cm;
                margin-right: 2cm;
                margin-bottom: 2cm;
            }

            /** Define the header rules **/
            header {
                position: fixed;
                top: 0cm;
                left: 0cm;
                right: 0cm;
                height: 2cm;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 1.5cm;
            }

            /** Define the footer rules **/
            footer {
                position: fixed;
                bottom: 0cm;
                left: 0cm;
                right: 0cm;
                height: 2.5cm;
                font-size: 14px ;
                /** Extra personal styles **/
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                text-align: center;
                line-height: 1cm;
            }
            .row{
                height: 0.5cm;
            }

            hr{
                color: rgb(28, 141, 0);
            }
            h1{
                color: rgb(0, 0, 0);
            }
            .center{
                text-align: center;
            }
