.navbar{
    background-color: #00a00d;
    margin-bottom: 1rem;
}

.fieldset{
    border: 1px black solid;
    padding: 1rem 2rem;
    margin: 2rem 0;
}

.legend{
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.header{
    text-align: center;
    margin-top: 2rem;
}

.boton_crear{
    width: 250px;
    min-width: auto;
    font-weight: bold;
}

.container_btn{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table-header{
    height: 3.5rem;
}

.contenedor{
    max-width: 90%;
}

.logo-navbar{
    aspect-ratio: 1;
    max-width: 4rem;
}

.nav-link{
    font-weight: bold;
    font-size: larger;
    color: white;
}

.nav-link::after{
    font-weight: bold;
    color: white;
}

.fallecido{
    background-color: #34495E;
    color: white;
}

#botones-linea{
    display: flex;
    justify-content: space-around;

.invisible{
    visibility: none;

}