  page {
                margin: 0cm 0cm;
            }
            h1{
                 text-align: center;
            }
            /** Define now the real margins of every page in the PDF **/
            body {
                margin-top: 0.2cm;
                margin-left: 2cm;
                margin-right: 2cm;
                margin-bottom: 2cm;
            }

            /** Define the header rules **/
            header {
                position: fixed;
                top: 0cm;
                left: 0cm;
                right: 0cm;
                height: 2cm;

                /** Extra personal styles **/
                background-color: #03a9f4;
                color: white;
                text-align: center;
                line-height: 1.5cm;
            }

            /** Define the footer rules **/
            footer {
                position: fixed;
                bottom: 0cm;
                left: 0cm;
                right: 0cm;
                height: 2.5cm;
                font-size: 14px ;
                /** Extra personal styles **/
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                text-align: center;
                line-height: 1cm;
            }
            .row{
                height: 0.5cm;
            }

            hr{
                color: rgb(28, 141, 0);
            }
            
            .center{
                text-align: center;
            }

            hr{
                color: rgb(28, 141, 0);
            }
            .linea_principal{
                font-style: italic;
                font-family: 'zapfino-linotype-one-regular';
                text-decoration: underline;
                color: rgb(28, 141, 0);
                text-align: center;

                
                
            }
            h1{
                color: rgb(28, 141, 0);
                display:inline;
                font-weight: normal;

           }
           h4{
            top: 0cm;
            text-align: center;
            color: rgb(28, 141, 0);
            display: inline;
            font-style: italic;
            font-weight: normal;
            
               }
        .informacion_doctora{
            color: rgb(28, 141, 0);
            text-align: center;
            display: inline;
            font-style: italic;
            margin-left: 20px;
        }
        .informacion_doctora2{
            color: rgb(28, 141, 0);
            font-size: 13px; 
            text-align: center;
            
        }
        .informacion_vet{
            color: rgb(28, 141, 0);
            text-align: center;
        }
        .informacion_vet_numero{
            color: rgb(28, 141, 0);
            text-align: center;
            font-weight: bold;

        }
        .fecha{
            color: rgb(28, 141, 0);
            font-weight: bold;
            display:inline;
        }
      .informacion_paciente_nombre{
        color: rgb(28, 141, 0);
            font-weight: bold;
            display:inline;
      }
      .informacion_paciente_peso{
        color: rgb(28, 141, 0);
            font-weight: bold;
            display:inline;
            margin-left: 278px;
      }
      .tratamiento{
        color: rgb(28, 141, 0);
            font-weight: bold;
      }
      .informacion_cita{
              color: rgb(28, 141, 0);
        display:inline;
        position: relative;
        top: 640px;

      }
     .informacion_mv{
        color: rgb(28, 141, 0);
        display:inline;
        position: relative;
        margin-left: 30px;
        top: 640px;

        
     }
     

     .informacion_firma_sello{
        color: rgb(28, 141, 0);
        display:inline;
        position: relative;
        margin-left: 370px;
        top: 640px;

        
     }