.record-informacion_general{
    background-color: #EFEFEF;
    
    padding: 0.5rem;

    display: flex;
    justify-content: space-evenly;
}

.record-informacion_general table{
    border-collapse: collapse;
    width: 100%;
}

.record-informacion_general table tr:first-child{
    border-bottom: 2px solid black;
}

.record-informacion_general table tbody tr td strong{
    font-weight: bold;
}

/*Botones*/
.record-botones_crud{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}

/*Tablas*/
.record-tablas{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;

    justify-content: space-between;
}

.record-card{
    flex-basis: calc(50% - 2rem);
    margin-bottom: 2rem;

    display: flex;
    
    flex-direction: column;
}

.record-card table{
    border-collapse: collapse;
}

.record-card th, .record-card td{
    text-align: center;
}

.record-card th{
    border-bottom: 2px solid black;
}

.record-card h4{
    background-color: black;
    color: white;
    text-align: center;
}

/*Modal*/
.record-space_modal{
    width: 100%;
    height: 100%;
    background-color: #141414B0;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.record-space_modal .record-modal{
    background-color: #EFEFEF;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 80%;
    max-height: max-content;

    padding: 2rem 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;

    z-index: 2;
}

.record-space_modal .record-modal h4{
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.record-space_modal .record-modal form{
    width: 100%;

}

.record-space_modal .record-modal form .form-group{
    display: flex;

    justify-content: center;
}

.record-space_modal .record-modal form .form-group label{
    flex: 1;
    font-weight: bold;
}

.record-space_modal .record-modal form .form-group div{
    flex: 3;
    display: flex;
    flex-direction: column;
    
}

.record-space_modal .record-modal form .contenedor-botones{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 3rem;
}

.record-space_modal .record-modal form .form-group div select, .record-space_modal .record-modal form .form-group div input{
    width: 100%;
    padding-left: 0.5rem;
}

.none{
    display: none;
}